@import "tailwindcss";

body {
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;
}

@keyframes scrollA {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollB {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
